<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Buscar pelicula</title>
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>
<body>
	<nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="consultar-peliculas">HOME</a></li>
            <li class="nav-item"><a href="alta-pelicula">ALTA PELICULA</a></li>
            <li class="nav-item"><a href="buscar-peliculas">BUSCAR PELICULAS</a></li>
        </ul>
    </nav>

	<h1>Buscar pelicula</h1>
	
	<form action = "/peliculas/buscar-peliculas-por-titulo" method = "post">
	
		<label for ="titulo">Buscar peliculas por titulo: </label>
		<input type="text" id="titulo" name="titulo">

		<button type="submit">Buscar</button>

	</form>
	
	<form action = "/peliculas/buscar-peliculas-por-genero" method = "post">
	
		<label for ="genero">Buscar peliculas por genero: </label>
		<input type="text" id="genero" name="genero">

		<button type="submit">Buscar</button>
		
	</form>
	


</body>
</html>