<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Modificar pelicula</title>
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>
<body>
	<nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="consultar-peliculas">HOME</a></li>
            <li class="nav-item"><a href="alta-pelicula">ALTA PELICULA</a></li>
            <li class="nav-item"><a href="buscar-peliculas">BUSCAR PELICULAS</a></li>
        </ul>
    </nav>
    
	<h4>Modificar Pelicula</h4>
	
	<div class = "peliculas">
		<div class="contenedor-imagen">
		    <img th:src="@{/img/__${pelicula.img}__}" alt="Imagen de la Película">
		    <div class="informacion-pelicula">
		        <h2 th:text="${pelicula.titulo}"></h2>
		        <p>Código: <span th:text="${pelicula.codigo}"></span></p>
		        <p>Género: <span th:text="${pelicula.generosCadena}"></span></p>
		        <a th:href ="'https://' + ${pelicula.url}">Ver pelicula</a>
		    </div>
		</div>
	</div>
	
	<form action = "/peliculas/save-modificar-pelicula" method = "post">
		
		<label for = "titulo">Titulo: </label>
		<input type="text" id="titulo" name ="titulo" th:value="${pelicula.titulo}"><br>
		
		<label for = "url_sitio">Sitio: </label>
		<input type="text" id="url_sitio" name ="url_sitio" th:value="${pelicula.url}"><br>
		
		<label for = "url_img">Imagen: </label>
		<input type="text" id="url_img" name ="url_img" th:value="${pelicula.img}"><br>
		
		<label for = "generos">Generos: </label><br>
		<select name="generos" id="generos" multiple>
			<th:block th:each="genero: ${generos}">
				<option th:value="${genero}" th:text="${genero}" th:selected="${pelicula.generosCadena.contains(genero)}"></option>
			</th:block>
		</select><br>

		<input type="hidden" id="codigo" name ="codigo" th:value="${pelicula.codigo}">
		
		<button type="submit">Guardar cambios</button>
	</form>
	
</body>
</html>